@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://fonts.googleapis.com/css?family=Metal Mania");

body{
    margin: 0;
    padding: 0;
}

nav.navbar{

    background-color: #f2f2f2;
    background-image: url(../static/images/image-20160509.jpg);
    padding: 3em;
    
    
    h1{
        font-size: 3em;
        text-align: center;
        font-family: Raleway;
        font-weight: bolder;
        color:black;

        span{
            background:rgba(2, 255, 242, 0.6) ;
        
        }
    }
    
}

div.main-container{

    font-family: Raleway;
    margin: 1em;
 
    div.input{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        columns: 2;
        display:block;
            
    }
    
    .column{
        text-align: center;
        margin: 0 15px 25px;
        box-shadow: 0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0,0.24);
        background:#fff ;
        border-radius: 20px;
        

        .input-box{
            padding: 15px 25px;

        }
        
        .input-box-r{
            padding: 17px 40px;
        }


        input, select{
            background-color:#f2f2f2;
            border: none;
            border-radius: 1em;
            padding: .3em;
            box-shadow: 0 1px 3px rgba(0,0,0, 0.12),
            0 1px 2px rgba(0,0,0,0.24);
            font-family: raleway;
            


            &:hover{
                color:#007AF3;
            }
        }

    }



    .submit-btn{
        margin-top: 0;
        padding-top: 0.5em;
        padding-bottom: 2em;
        background-color: #fff;
        text-align: center;

        width: 100%;
        border-radius: 20px;
        

        input{
            background: #007AF3;
        }

        .input-btn{
            padding: 0.8em;
            font-size: 1.4em;
            font-weight: bold;
            border: none;
            border-radius: 5em;
            width: 30%;
            font-family: raleway;

            &:hover{
                color: white;
            }
        }
    }


}


footer{
    text-align: center;
    font-family: raleway;
}

footer.pred-foot{
    text-align: center;
    font-family: raleway;
    float: bottom;
    margin-top: 8.5em;

}

div.prediction{
    margin-top: .4em;
    background: #fff;
    padding: 3em;
    text-align: center;

 

    div{
        box-shadow: 0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0,0.24);
        background: #F2F2F2;
        border-radius: 2em;
        padding: 2em;
        margin-bottom: 3em;



        h2{
            font-size: 2em;
            font-family: raleway;
            font-weight: bold;
        }
  
    }

    a{
        font-size: 1.8em;
        border-radius: 2em;
        background-color: #007AF3;
        padding: 0.5em;
        padding-left: 3.5em;
        padding-right: 3.5em;
        text-decoration: none;
        color: black;
        font-family: raleway;
        font-weight: bold;

        &:hover{
            color: white;
        }



    }
}
